<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" novalidate>
  <div style="margin-bottom: 1em">
    <button type="submit"
            class="btn btn-success">Save</button> &nbsp;
    <button type="reset" (click)="revert()"
            class="btn btn-danger">Revert</button>
  </div>

  <!-- Hero Detail Controls -->
  <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>
  </div>

  <div class="well well-lg">
    <div *ngFor="let address of addresses | async; let i=index">
      <!-- The repeated address template -->
      <address-modal #modal
                    (confirm)="changesMade = true"
                    [number]="i"
                    message='This will delete containing folders, do you want to continue?'></address-modal>
      <button type="button" (click)="modal.open()" class="btn btn-info" style="margin:10px;">
          Address #{{i + 1}} {{(address.street != '' && address.city != '') ? ': ' + address.street + ', ' + address.city : ''}}
      </button>                 
      <!-- End of the repeated address template -->
    </div>
    <button (click)="addLair()" type="button" class="btn btn-primary">Add a Secret Lair</button>
  </div>
  <div class="form-group radio">
    <h4>Super power:</h4>
    <label class="center-block"><input type="radio" formControlName="power" value="flight">Flight</label>
    <label class="center-block"><input type="radio" formControlName="power" value="x-ray vision">X-ray vision</label>
    <label class="center-block"><input type="radio" formControlName="power" value="strength">Strength</label>
  </div>
  <div class="checkbox">
    <label class="center-block">
      <input type="checkbox" formControlName="sidekick">I have a sidekick.
    </label>
  </div>
</form>

<p>heroForm value: {{ heroForm.value | json}}</p>

<p>hero's addresses: {{addresses | async | json}}</p>

<h4>Name change log</h4>
<div *ngFor="let name of nameChangeLog">{{name}}</div>
